<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo React Js</title>

    <script crossorigin src="lib/js/react.js"></script>
    <script crossorigin src="lib/js/react-dom.js"></script>
    <script crossorigin src="lib/js/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
    ReactDOM.render(<h1> Hello React Js </h1>,document.getElementById("root"));
    </script>
</body>

</html>